<% provide(:title, "") %>
<div class="center jumbotron">
  <h1>勤怠管理システム</h1>
  <p>このアプリは勤怠管理アプリです</p>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
  <p>アカウントの新規作成は<%= link_to "こちらへ", signup_path %></p>
</div>
