
/* ユーザー情報テーブル */

.user-table {
  tr{
    th{
      vertical-align: bottom!important;
      text-align: center;
    }
  }
}

/* アカウント作成ページ */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}
